body {
  background-color: #70C0E3;
  font-family: 'Times New Roman', Times, serif;
}

/*header begins here*/
header {
padding: 20px 35px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
top: 0;
background-color: #3795BE;
color: #C7CCCE;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 30px;
  color: #C7CCCE;
}

/*about me section*/
#about-me {
  font-size: 30px;
}

.bio {
  display: flex;
  font-size: 30px;
}

p {
  font-size: 25px;
  justify-content: space-between;

}

img {
  float: right; 
  padding: 15px;
}

/*work section*/
#work {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.work-pictures {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px;
}

.row2 {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  padding: 15px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.RB:hover, .LC:hover, .horiseon:hover,  .OC:hover, .SLC:hover{
  position:relative;
  top:-25px;
  left:-35px;
  width:500px;
  height:auto;
  display:block;
}

.RB img {
  border-style: solid;
  border-width: 5px;
  border-color: darkblue;
  padding: 0px;
}

.gitShow img {
  border-style: solid;
  border-width: 5px;
  border-color: darkblue;
  padding: 0px;
}

.horiseon img {
  border-style: solid;
  border-width: 5px;
  border-color: darkblue;
  padding: 0px;
}

.MB img {
  border-style: solid;
  border-width: 5px;
  border-color: darkblue;
  padding: 0px;
}

.SLC img {
  border-style: solid;
  border-width: 5px;
  border-color: darkblue;
  padding: 0px;
}

.text-box {
  font-size: 15px;
  background-color: #3795BE; 
  text-align: center;
  display: block;
}

.section-title {
  font-size: 30px;
  text-align: center;
  }

/*footer*/
.methods {
  font-size: 25px;
  padding: 0px;
}

.contact-info {
  text-align: justify;
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/*Responsive coding starts here*/
.responsive {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 980px) {
header {
  padding-bottom: 0;
  justify-content: center;
  position: relative
}

header h1 {
  width: 100%;
  text-align: center;
}

header nav ul {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}

header nav ul li a {
  font-size: 20px;
}

footer h2, footer div {
  text-align: center;
  width: 100%;
}
}

p {
  font-size: 2vw;
}
.section-title {
  width: 80%;
}

.section-title {
  width: 95%;
}

.contact-info {
  text-align: center;
}

.contact-info > * {
  flex: 0 100%;
}
